.layout
  display: flex
  flex-direction: column
  height: 100vh

.body
  display: flex
  flex: 1

.drawer
  flex-shrink: 0

.main
  flex: 1
  padding: 0
  overflow-y: auto

.content
  padding: 0 80px
  flex: 1

  @media (max-width: 768px)
    padding: 10px